@import "../../app";

.options {
    display: flex;
    flex: 1;

    ul {
        display: $app-display;
        flex-direction: column;
        justify-content: space-evenly;
        animation: fade-in 0.8s ease forwards, slide-in 0.8s ease forwards;
        margin-right: 15vw;

        li {
            display: $app-display;
            list-style: none;
            transform: translateX(-5vw);

            a {
                text-decoration: none;
                color: $app-color-dark;
                font-weight: bolder;
                font-size: 3vw;
                transition: text-shadow 0.3s ease;

                &:hover {
                    text-shadow: 0.5px 0.5px 5px #ffffff;
                }
            }
        }

        $justify: (flex-start, center, flex-end);
        $delay: (0s, 0.4s, 0.6s);

        @for $i from 0 through 2 {
            li:nth-child(#{$i + 1}) {
                justify-content: nth($justify, $i + 1);
            }
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        flex: 0;
        transform: translateX(-5vw);
    }    
    100% {
        flex: 1;
        transform: translateX(5vw);
    }
}

@media (max-width: $mobile-max-width){
    .options {
        display: $app-display;
        
        ul {
            display: $app-display;
            flex-direction: row;
            flex: 1;
            margin: 5% 0vw 0% 0%;
            animation: fade-in 0.8s ease forwards;
            
            li {
                display: flex;
                justify-content: center;
                width: 25vw;
                height: 40px;
                border: #ffffff 1px solid;
                border-radius: 5px;
                transform: translateX(0vw);
            }

            @for $i from 1 through 3 {
                li:nth-child(#{$i}) a {
                    display: flex;
                    flex: 1;
                    justify-content: center;
                    align-items: center;
                    margin-left: 0;
                }
            }
        }
    }
}