@import "../../app.scss";

.navbar {
    top: 0;
    padding: 0% 3% 0% 1%;
    position: sticky;
    display: $app-display;
    flex: $navbar-flex;
    z-index: 1;
    background: $navbar-background;
    align-items: center;
    justify-content: space-between;

    &-logo {
        width: $navbar-logo-width; 
        height: $navbar-logo-height;

        img {
            width: 100%; 
            height: 100%;
        }
    }

    a {
        display: $app-display;
        align-items: center;
        font-weight: bolder;
        text-decoration: none;
        color: $app-color-dark;
    }
}

@media (max-width: $mobile-max-width) {
    $navbar-flex: 0 0 10%;
    $navbar-logo-width: 20%;
    $navbar-logo-height: 60%;

    .navbar {
        flex: $navbar-flex;

        &-logo {
            width: $navbar-logo-width;
            height: $navbar-logo-height;
        }
    }
}