@import "app.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    @include expand();
    background: $app-background;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
                'Open Sans', 'Helvetica Neue', sans-serif
}

.app {
    @include expand();
    z-index: 0;
    display: $app-display;
    flex-direction: column;
    justify-content: flex-start;
    background: $app-background;

    .content {
        display: flex;
        flex-direction: row-reverse;
    
        header {
            display: $app-display;
        }
    
        header, main {
            flex: 1;

            a {
                cursor: pointer;
            }
        }
    }
}

@media (max-width: $mobile-max-width) {
    .app {
        .content {
            flex-direction: column-reverse;
        }
    }
    
}