@import "../../index";

.home-page {
    z-index: 1;
    margin-top: 10%;
    display: $app-display;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    
    img {
        width: 70%;
        height: 70%;
    }
}